.loading {
  width: fit-content;
  font-size: 1.25rem;
  letter-spacing: 0.0125rem;
  background: linear-gradient(90deg, var(--color-c3) 50%, var(--color-c1) 0%)
    right;
  background-size: 200% 100%;
  animation: loading 2s infinite linear;
}

.loading::before {
  content: "CARREGANDO...";
  color: #0000;
  padding: 0 0.5rem;
  background: inherit;
  background-image: linear-gradient(
    90deg,
    var(--color-c1) 50%,
    var(--color-c3) 0
  );
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes loading {
  100% {
    background-position: left;
  }
}
