<section class="product container">
  @if (product) {
  <article class="content">
    <figure class="image">
      <img
        src="{{ product.images[0] }}"
        alt="{{ product.name }}"
        height="400"
        width="400"
      />
    </figure>
    <section class="about">
      <h2 class="name">{{ product.name }}</h2>
      <h3 class="price">
        {{ product.price | currency : product.currency.toUpperCase() }}
      </h3>
      <div class="separator"></div>
      <show-more
        class="description"
        [text]="product.description"
        [length]="400"
      ></show-more>
      <div class="buttons">
        <button
          type="button"
          class="button"
          [disabled]="isBuyNowBtnDisabled || isAddCartBtnDisabled"
        >
          {{ isAddCartBtnDisabled ? "Carregando..." : "Adicionar ao carrinho" }}
        </button>
        <button
          type="button"
          class="button alt"
          (click)="buyNow(product)"
          [disabled]="isBuyNowBtnDisabled || isAddCartBtnDisabled"
        >
          {{ isBuyNowBtnDisabled ? "Carregando..." : "Comprar agora" }}
        </button>
      </div>
    </section>
  </article>
  } @else if (!isLoading) {
  <p class="no-content">Produto não encontrado.</p>
  } @if (isLoading) {
  <app-loading class="center"></app-loading>
  }
</section>
