<footer class="footer">
  <div class="content">
    <nav class="nav">
      <figure class="logo">
        <img src="assets/logo.svg" alt="Bazzar logo" />
      </figure>
      <section class="contact">
        <h3>Contato</h3>
        <ul>
          <li><a href="tel:+5521999999999">+55 (21) 9999-9999</a></li>
          <li>
            <a href="mailto:contato@bazzar.com">contato&#64;bazzar.com</a>
          </li>
        </ul>
      </section>
    </nav>
    <p class="copyright">Bazzar © Alguns direitos reservados.</p>
  </div>
</footer>
