.footer {
  border-top: 1px solid var(--color-c3);
  padding: 2.5rem 0;
}

.content {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 2fr);
  margin-bottom: 2rem;
}

.logo {
  margin: 0;
}

.logo > img {
  display: block;
}

.contact h3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0125rem;
  text-transform: uppercase;
  color: var(--color-c3);
  margin-bottom: 1rem;
}

.contact ul li a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.015rem;
  color: var(--color-c2);
  text-decoration: none;
  padding: 0.25rem;
}

.contact ul li a:hover {
  background-color: var(--color-c3);
  color: var(--color-c1);
}

.copyright {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.015rem;
  color: var(--color-c2);
}

@media (max-width: 500px) {
  .nav {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
  }
  .contact {
    justify-items: center;
  }
}
