<section class="home container">
  <ul class="products">
    <li>
      <a routerLink="/products/123"
        ><product-card
          [img]="
            'https://images.unsplash.com/photo-1541807084-5c52b6b3adef?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
          "
          [alt]="'Macbook Air'"
          [title]="'Macbook Air'"
          [subtitle]="'R$8.000,00'"
        ></product-card
      ></a>
    </li>
  </ul>
</section>
