<section class="home container">
  @if (products.length) {
  <ul class="products">
    @for (product of products; track product.id) {
    <li>
      <a routerLink="/products/{{ product.id }}"
        ><product-card
          [img]="product.images[0]"
          [alt]="product.name"
          [title]="product.name"
          [subtitle]="product.price | currency : product.currency.toUpperCase()"
        ></product-card
      ></a>
    </li>
    }
  </ul>
  } @else if (!loading) {
  <p class="not-found">Nenhum produto encontrado.</p>
  } @if (loading) {
  <app-loading class="center"></app-loading>
  }
</section>
