.cart-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  visibility: visible;
}

.cart-wrapper.hidden {
  visibility: hidden;
}

.cart-wrapper.hidden .cart {
  transform: translateX(350px);
}

.cart-background {
  position: absolute;
  background-color: var(--color-c3);
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 350px;
  background-color: var(--color-c1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.5s ease;
}

.header {
  display: flex;
  gap: 0.5rem;
  padding: 2rem 1.25rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-c3);
}

.header .title {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.015rem;
  line-height: 1;
  color: var(--color-c3);
  text-transform: uppercase;
}

.header .btn-close {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  line-height: 0;
  padding: 0 0.25rem;
  transition: 0.2s;
}

.header .btn-close:hover {
  transform: scale(1.2);
}

.header .btn-close > svg {
  width: 14px;
  height: 14px;
  fill: var(--color-c3);
}

.products {
  flex: 1;
  padding: 0 1.25rem;
}

.product {
  display: grid;
  align-items: center;
  justify-items: start;
  gap: 0 0.75rem;
  grid-template-columns: 80px auto;
}

.product:not(:last-child) {
  margin-bottom: 1.25rem;
}

.product .image {
  grid-row: span 3;
  position: relative;
  margin: 0;
  height: 80px;
  width: 80px;
}

.product .image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product .name {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  line-height: 1;
  color: var(--color-c3);
  max-width: 200px;
  margin-bottom: 0.25rem;
}

.product .price {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0075rem;
  line-height: 1;
  font-style: italic;
  color: var(--color-c2);
  margin-bottom: 0.5rem;
}

.product .btn-remove {
  font-family: var(--type);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0075rem;
  color: var(--color-c2);
  padding: 0.25rem;
  background-color: var(--color-c1);
  border: none;
  cursor: pointer;
}

.product .btn-remove:hover {
  background-color: var(--color-c3);
  color: var(--color-c1);
}

.footer {
  border-top: 1px solid var(--color-c3);
  margin: 2rem 1.25rem;
}

.footer .total {
  font-size: 1rem;
  color: var(--color-c3);
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  margin: 1.25rem 0 2rem 0;
}

.footer .total .total-price {
  float: right;
}

.footer .button {
  display: block;
  justify-self: center;
}
